[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Squash
GenericName=Image Resizer
GenericName[pl]=Skalowanie obrazów
Comment=Batch Image Resizer
Comment[pl]=Wsadowe skalowanie obrazów
Exec=squash
Icon=squash
Terminal=false
Categories=Graphics;Qt;
